<a href="https://colab.research.google.com/github/hansong0219/Advanced-Deep-learning-Notebooks/blob/master/Lecture/Week2/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PyPE Boy 2-3 주차 수업 자료

## 1.Data Type 의 변경, 문자열에 대한 이해, 수치형 데이터의 처리
- Data Type 의 변경은 Data 를 적절한 형태로 처리하기 위해 필수적으로 사용하여야 한다.

In [1]:
# 숫자 --> 문자열 변경
number = 2 #숫자 변수 지정
print(type(number))

string = str(number) #문자열로 변경
print(type(string))

num = int(string) #다시 숫자로 변경
print(type(num))

<class 'int'>
<class 'str'>
<class 'int'>

In [2]:
#문자열의 길이 확인하고 특정 요소 출력하기
long_name = '플래닛-김찬양'
print('문자열의 길이 확인 :', len(long_name))
print('맨 처음 글자 추출 :', long_name[0])

#특정 기호로 문자열 나누기
organ, name = long_name.split('-')
print("조직, 이름:", organ, name)
print("성씨 :",name[0]) #성씨를 추출한다.

name_blind = name[0] + 'XX'
print("가려진 이름 추출 :", name_blind)

#Python의 문자열 표기법 특징 
"""
문자열의 경우 곱하기를 하면, 그 숫자만큼 반복된다
"""
print("성씨 5번 추출 :", name[0]*5)
print("이름 3번 추출 :", name*3)

#대문자 및 소문자 변경
eng = 'PyPE BOY'
eng = eng[0].lower()+eng[1:]
print('대문자를 소문자로 변경 :', eng)
eng = eng[0].upper()+eng[1:]
print('다시 소문자를 대문자로 변경 :', eng)

문자열의 길이 확인 : 7
맨 처음 글자 추출 : 플
조직, 이름: 플래닛 김찬양
성씨 : 김
가려진 이름 추출 : 김XX
성씨 5번 추출 : 김김김김김
이름 3번 추출 : 김찬양김찬양김찬양
대문자를 소문자로 변경 : pyPE BOY
다시 소문자를 대문자로 변경 : PyPE BOY

### 숙제 Week 2) 
- 2-1: https://www.acmicpc.net/problem/2743
- 2-2: https://www.acmicpc.net/problem/27866

### 프로그래밍 예제 : 전화번호 가리기

In [3]:
# 입력된 전화번호를 받아 가운데 부분을 XXXX 로 출력한다. 
phone_number = '010-1234-5678' #전화번호를 입력 받는다

#문자열 자체에서 처리하는경우
phone_number_x = phone_number[:4] + 'XXXX' + phone_number[-5:]
print("문자열 Data 추출을 이용한 답:",phone_number_x)

#Split 을 사용하여 일부를 변경하여 사용하는 경우
phone_number_list = phone_number.split('-') #전화번호의 일부를 받는다.
phone_number_list[1]='XXXX' #두번쨰 전화번호의 Data를 XXXX로 변경한다.

phone_number_re = phone_number_list[0] + '-' + phone_number_list[1] + '-' + phone_number_list[2]
print("Split을 사용하여 변경한 답:",phone_number_re)
print("원본 전화 번호:",phone_number) #복사하여 새로 지정하였기 때문에 데이터가 유지됨

문자열 Data 추출을 이용한 답: 010-XXXX-5678
Split을 사용하여 변경한 답: 010-XXXX-5678
원본 전화 번호: 010-1234-5678

## 2. For Loop 와 if 문
  - 특정횟수만큼 반복이 필요한 경우 모든 프로그래밍 언어에서 for 문을 사용한다.
  - if 문의 경우, 반복문과 함께 자주 사용되므로 사용법을 함께 익힌다.

In [4]:
#For 문의 작성 법

#기본 작성법
for i in range(21):
  #print의 방식은 end 값의 default 가 end = '\n' 으로 이루어져 있어서 다음줄에 출력 되지만 해당 챕터에서는 띄어쓰기로 한줄에 추출한다.
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [34]:
# If 문의 작성법과 조건문
name = '유찬양'

# = 하나가 붙으면 지정, == 등호가 두개가 붙으면 비교 연산자가 된다.


print("-----예제 1번-----")
if name[0] == '유':
  print('유씨 입니다.')

else:
  print('유씨가 아닙니다.')

# elif 를 사용한 if문

print("\n-----예제 2번-----")
name = '송한성'
if name[0] == '유':
  print('유씨 입니다.')
  
elif name[0] == '송': #elif >> else if 를 줄인말.
  print('유씨가 아니라 송씨입니다.')

else:
  print('유씨도 송씨도 아닙니다.')

print("\n-----if 만 사용하는 경우-----")
name = '유혜인'
bool_a = False
if name[0] == '유':
  bool_a = True
  print('유씨 입니다.')

if name[0] == '송':
  bool_a = True
  print('유씨가 아니라 송씨입니다.')

if not bool_a:
  print('유씨도 송씨도 아닙니다.')

print("\n-----data 활용 예-----")
name = '송한성'
if name[0]=="유":
  data = 0
  print('유씨 입니다.')
else: 
  data = 1

print(data)


print("\n-----조건문-----")
#if 문과 함께 자주 쓰이는 Data Type Boolean , 참 거짓
name = '송한성'
bool1 = name[0]=='송'
print("#a :", bool1)

bool2 = False
print("#b :",bool2)

#조건문에 대한 이해
print("#c :",bool1 and bool2)
print("#d :",bool1 or bool2)
print("#e :",not bool1)
print("#f :", (bool1 or bool2) and not (name[0]=='김' or name[0]=='유'))

#비교형 조건문에 대한 이해
print("\n-----비교형 조건문-----")

a = 5
print("#1 :", a < 4)
print("#2 :", a <= 5)
print("#3 :", a >= 6)
print("#4 :", a != 9)
print("#5 :", a == 5)
print("#6 :", a == 4)
print("#7 :", a != 5)

-----예제 1번-----
유씨 입니다.

-----예제 2번-----
유씨가 아니라 송씨입니다.

-----if 만 사용하는 경우-----
유씨 입니다.

-----data 활용 예-----
1

-----조건문-----
#a : True
#b : False
#c : False
#d : True
#e : False
#f : True

-----비교형 조건문-----
#1 : False
#2 : True
#3 : False
#4 : True
#5 : True
#6 : False
#7 : False

### 예제 : 짝수만 출력하는 프로그램

In [79]:
# 1. 일반적인 For 문 형태(Range 이용)
print('>>>> 일반적인 For 문 형태(Range) <<<<')
for i in range(1, 10):
    if i%2 == 0:
        print(i, end = ' ')

print('\n실행 완료\n')


# 2. 일반적인 For 문 형태(List 이용)
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print('>>>> 일반적인 For 문 형태(List) <<<<')
for i in num:
    if i%2 == 0:
        print(i, end = ' ')

#. Range 함수를 num_a 로 지정하는 경우

print('\n실행 완료\n')
num_a = range(1, 15)
for i in num_a:
    if i%2 == 0:
        print(i, end = ' ')


print('\n실행 완료\n')

# List data 가 숫자가 아닌경우

names = ['김찬양', '송한성', '유혜인','플래닛','이우주']
print(names[2])

for n in name:
  print(n, end = '.')

print('\n실행 완료\n')

for i in range(len(names)):
  print(names[i], end = '.')

print('\n실행 완료\n')


# 3. List 내 For 문 형태
print('>>>> List 내 For 문 형태 <<<<')
nums = [i for i in num if i%2 == 0]
print(nums)

>>>> 일반적인 For 문 형태(Range) <<<<
2 4 6 8
실행 완료

>>>> 일반적인 For 문 형태(List) <<<<
2 4 6 8
실행 완료

2 4 6 8 10 12 14
실행 완료

유혜인
김찬양.송한성.유혜인.플래닛.이우주.
실행 완료

김찬양.송한성.유혜인.플래닛.이우주.
실행 완료

>>>> List 내 For 문 형태 <<<<
[2, 4, 6, 8]

In [83]:
#예제 구구단 만들기

for i in range(1,10):
  print("{}  단". format(i))
  for j in range(1,10):
    print('{} X {} = {}'. format(i, j, i*j))

  print()

1  단
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

2  단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3  단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4  단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5  단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6  단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7  단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8  단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9  단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [85]:
names = ['김찬양', '송한성', '유혜인','PyPE_BOY','Plannet']

# 이중 포문 예시
for i in range(len(names)):
  print("i: ", i)
  print(names[i])
  print("For j")
  for j in range(len(names[i])):

    print(j, names[i][j], end = '.')

  print()

print('\n실행 완료\n')

i:  0
김찬양
For j
0 김.1 찬.2 양.
i:  1
송한성
For j
0 송.1 한.2 성.
i:  2
유혜인
For j
0 유.1 혜.2 인.
i:  3
PyPE_BOY
For j
0 P.1 y.2 P.3 E.4 _.5 B.6 O.7 Y.
i:  4
Plannet
For j
0 P.1 l.2 a.3 n.4 n.5 e.6 t.

실행 완료

In [87]:
names = [['김찬양', '송한성', '유혜인'],['선생님','연구원','데이터 분석가'], ['남성', '남성', '여성']] 

# 삼중 포문 예시 - 혼자서 이해해 보세요
for i in range(len(names)):
  print("i: ", i)
  print(names[i])
  
  for j in range(len(names[i])):
    print("For j", j)
    print("j :", j, names[i][j])
    
    print('For k')
    for k in range(len(names[i][j])):
      print(k, names[i][j][k], end = '.')

  print()

print('\n실행 완료\n')

i:  0
['김찬양', '송한성', '유혜인']
For j 0
j : 0 김찬양
For k
0 김.1 찬.2 양.For j 1
j : 1 송한성
For k
0 송.1 한.2 성.For j 2
j : 2 유혜인
For k
0 유.1 혜.2 인.
i:  1
['선생님', '연구원', '데이터 분석가']
For j 0
j : 0 선생님
For k
0 선.1 생.2 님.For j 1
j : 1 연구원
For k
0 연.1 구.2 원.For j 2
j : 2 데이터 분석가
For k
0 데.1 이.2 터.3  .4 분.5 석.6 가.
i:  2
['남성', '남성', '여성']
For j 0
j : 0 남성
For k
0 남.1 성.For j 1
j : 1 남성
For k
0 남.1 성.For j 2
j : 2 여성
For k
0 여.1 성.

실행 완료

In [44]:
# Print 는 항상 지정을 하지 않을 경우, end = '\n'
print('김찬양\n유혜인')
print('김찬양', end = '.')
print('유혜인', end = '.')
print('김찬양', end = '.')
print('유혜인', end = '.')
print('김찬양', end = '.')
print('유혜인', end = '.')

김찬양
유혜인
김찬양.유혜인.김찬양.유혜인.김찬양.유혜인.

### 위의 예제를 For문을 활용하여 푸는법

In [ ]:
# 다수의 데이터를 처리하므로 for 문을 사용하는 방법도 있다.
#변경되어 출력할 문자열을 지정한다.

phone_number_blind ='' 
for i in range(len(phone_number_list)):
  phone_number_blind+=phone_number_list[i] #리스트로 저장된 전화번호를 받는다.
  if i<len(phone_number_list)-1:
    phone_number_blind+='-' # 전화번호 형태로 표시하기 다시 '-' 문자열을 추가하여 아래와 같이 표시한다.

print("for 문을 사용하여 변경한 답:",phone_number_blind)
print("원본 전화 번호:",phone_number) #복사하여 새로 지정하였기 때문에 데이터가 유지됨

for 문을 사용하여 변경한 답: 010-XXXX-5678
원본 전화 번호: 010-1234-5678

### 숙제 Week 2) 
  - 2-3: https://www.acmicpc.net/problem/2675

## 3. While 문을 이용한 반복

In [ ]:
#

## 4. List Tuple Map 자료형